.header__lang-links {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-self: center;
  list-style: none;
  text-align: right;
}

@media screen and (max-width: 424px) {
  .header__lang-links {
    flex-direction: column;
  }
}